.tables-icon{
    font-size: 50px;
    text-align: center;
    background: #0d9b5e;
    color: white;
    width: 100px;
    height: 100px;
    margin-top: 15px!important;
    position: relative;
}
.table-size{
    top: 60px;
    position: absolute;
    right: -1px;
    border: 5px solid white;
    font-size: 22px;
    border-radius: 50%;
    width: 45px;
    padding: 10px;
    height: 45px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hoverable{
    box-shadow: 0px 0px 20px 5px #0000001c;
}
.hoverable:hover{
    box-shadow: 0px 0px 20px 5px #0000003b;
    transition: 0.15s ease-in;
}

.hover{

}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}

/*Order Details*/
.order-details{
    width:100%;
}

.order-details > th{
    padding: 10px 10px!important;
    background: #80808021;
    color: #000;
    text-align: center;
}
.order-details > td{
    padding: 10px!important;
    text-align: center;
    white-space: normal;
    transition: 0.1s ease-out;

}

.order-details:hover td{
    background: #eeeeee73;
    cursor: pointer;
    color: #000;

}


.cursor-pointer{
    cursor: pointer;
}

.table td, .table th {
     white-space: normal;
}



/*Product Details*/



.product-details{
    width:100%;
}

.product-details > th:first-child td{
    padding: 10px 10px!important;
    background: #80808021;
    color: #000;
    text-align: center;
}
.product-details > td{
    padding: 10px!important;
    text-align: center;
    white-space: normal;
    transition: 0.1s ease-out;
}

.product-details:hover td{
    background: #eeeeee73;
    cursor: pointer;
    color: #000;

}
